@using Application.DomainModels
@using Application.Utilities

<a class="product-card hx-pc-@Product.Id"
   hx-get="/components/product-details/@Product.Id"
   id="@($"productCard{Product.Id}")"
   hx-trigger="click target:.hx-pc-@Product.Id"
   hx-target="#modalOutlet"
   hx-swap="innerHTML">
    <img class="product-card__img hx-pc-@Product.Id"
         src="@Product.PhotoUrl"
         alt=""
         id="@($"productCardImage{Product.Id}")"/>
    <h5 class="product-card__product-name hx-pc-@Product.Id"
        id="@($"productCardHeading{Product.Id}")">
        @Product.Name
    </h5>
    <p class="price price--vertical product-card__price hx-pc-@Product.Id">
        <span class="price__amount--regular"> @Product.Price.ToCurrencyString() </span>
    </p>
    <p class="tag product-card__tag hx-pc-@Product.Id">@Product.DepartmentName</p>
    <CartControls CssClasses="product-card__cart-controls" IdSuffix="@IdSuffix" />
</a>

@code {

    [Parameter]
    public ProductListModel Product { get; set; } = null!;

    private string IdSuffix => $"product-{Guid.NewGuid()}";
}