@using Application.Utilities
<div class="quantity" id="@Id">
    <button class="quantity__btn" id="@DecrementBtnId">
        <svg class="quantity__icon">
            <use href="/img/icons/solid.svg#minus"></use>
        </svg>
    </button>
    <input type="number" class="quantity__input" id="@QuantityInputId" value="@Quantity">
    <button class="quantity__btn" id="@IncrementBtnId">
        <svg class="quantity__icon">
            <use href="/img/icons/solid.svg#plus"></use>
        </svg>
    </button>
</div>

@code {

    [Parameter]
    public string? IdSuffix { get; set; }

    [Parameter]
    public int Quantity { get; set; }
    
    private const string IdBase = "quantityControls";
    
    private string Id => IdBase.AppendSuffixIfNotNull(IdSuffix);
    private string DecrementBtnId => $"{IdBase}DecrementBtn".AppendSuffixIfNotNull(IdSuffix);
    private string IncrementBtnId => $"{IdBase}IncrementBtn".AppendSuffixIfNotNull(IdSuffix);
    private string QuantityInputId => $"{IdBase}Input".AppendSuffixIfNotNull(IdSuffix);
}