@page
@using Application.Utilities
@model Web.Pages.Admin.Products.Index

@{
    ViewData["Title"] = "Products Admin Page";
}

<div class="layout__content">
    <a href="/Admin/Products/Add" class="btn btn--primary">
        Add Product
    </a>
</div>

<div class="layout__content">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Regular Price</th>
            <th>Sale Price</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price.ToCurrencyString()</td>
                <td>@product.SalePrice.ToCurrencyString()</td>
                <td>@product.DepartmentName</td>
                <td>
                    <a href="#">Edit</a> |
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>