@page "/shopping-cart"
@using Application.DomainModels
@using Application.UnitOfWork
@using Application.Services
@using Application.Utilities
@using Application.Cookies
@inherits OwningComponentBase<IUnitOfWork>

<main class="layout__content shopping-cart">
    <h3 class="cart-title">Shopping Cart</h3>

    @if (CartItems.Any())
    {
        <div class="cart-item-display">
            @foreach (var item in CartItems)
            {
                <div class="cart-item">
                    <img src="@item.ProductPhotoUrl" alt="Product photo" class="cart-item__product-img">
                    <h5 class="cart-item__product-name">@item.ProductName</h5>
                    <p class="cart-item__product-price">@FormatHelpers.ToCurrencyString(item.ProductPrice)</p>
                    <p class="cart-item__product-quantity">@item.Quantity</p>
                </div>
            }
        </div>

        <div class="cart-summary">
            <h4 class="cart-summary__title">Cart Summary</h4>
            <p class="cart-summary__item">Subtotal: @CartSummary.Subtotal</p>
            <p class="cart-summary__item">Savings: @CartSummary.Discount</p>
            <p class="cart-summary__item">Tax: @CartSummary.Tax</p>
            <p class="cart-summary__item">Total: @CartSummary.TotalPrice</p>
        </div>
        <NavLink href="/checkout" class="btn btn--md btn--primary cart-btn">Checkout</NavLink>
    }
    else
    {
        <p class="cart__empty">Your cart is empty</p>
    }


</main>

@code {

    [CascadingParameter] private HttpContext? Context { get; set; }

    private IEnumerable<CartItemListModel> CartItems { get; set; } = new List<CartItemListModel>();

    private CartSummaryModel CartSummary { get; set; } = new CartSummaryModel();

    protected override async Task OnInitializedAsync()
    {
        var cartId = Context?.Request.Cookies.GetCartIdCookie();

        if (cartId is not null)
        {
            CartItems = await Service.CartRepository.GetCartItemsAsync(cartId.Value);
            CartSummary = CartItems.GetCartSummary();
        }
    }

}

